body {
    background-image: url(../images/email-pattern.png)
}

.navbar-brand {
    color: white;
    font-size: 2em;
}

.wrapper {
    /* Keeps footer stuck to the bottom of page, regardless of viewport size. */
    min-height: calc(100vh - 176px)
}

header {
    background-color: #f8f9fa;
    border-bottom: 2px solid #33b5e5;
}

.headerContent {
    max-width: 960px;
}

.mainSection {
    max-width: 960px;
    background-color: white;
    border: 1px solid lightgray;
}

h1 {
    font-weight: 300;
    color: #33b5e5;
}

.portfolio-item {
    position: relative;
    background-color: white;
    border: 1px solid #33b5e5;
    overflow: hidden;
    width:200px;
    height: 200px;
}

.portfolio-item img {
    display: block;
    width: auto;
    height: 100%;
}

.title-overlay {
    position: absolute; 
    bottom: 20px; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1; 
    width: 100%;
    color: white;
    font-size: 20px;
    padding: 5px;
    text-align: center;
  }
  

footer {
    background-color: lightgray;
    border-top: 2px solid darkgray;
}