body {
    background-image: url(../images/email-pattern.png)
}

.wrapper {
    min-height: calc(100vh - 176px)
}

header {
    background-color: #f8f9fa;
}

header {
    border-bottom: 2px solid #33b5e5;
}

.mainSection {
    max-width: 960px;
    background-color: white;
    border: 1px solid lightgray;
}

.headerContent {
    max-width: 960px;
    margin: 0 auto;
    padding: 0px;
}

.navbar-brand {
    color: white;
    font-size: 2em;
    /* background-color: #0099CC; */
}

footer {
    background-color: lightgray;
    border-top: 2px solid darkgray;
}

h1 {
    font-weight: 300;
    color: #33b5e5;
}